body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.chat-icon {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 9999;
}

.chat-icon img {
    width: 100%;
    height: 100%;
}

.chat-box {
    display: none;
    width: 300px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-messages-container {
    max-height: 300px;
}